<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Oct24_Day1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.apex.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MathServlet</display-name>
    <servlet-name>MathServlet</servlet-name>
    <servlet-class>com.apex.servlets.MathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MathServlet</servlet-name>
    <url-pattern>/MathServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationServlet</display-name>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>com.apex.servlets.MultiplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/MultiplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPostServlet</display-name>
    <servlet-name>MyPostServlet</servlet-name>
    <servlet-class>com.apex.servlets.MyPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPostServlet</servlet-name>
    <url-pattern>/MyPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrimeServlet</display-name>
    <servlet-name>PrimeServlet</servlet-name>
    <servlet-class>com.apex.servlets.PrimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimeServlet</servlet-name>
    <url-pattern>/PrimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>com.apex.servlets.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/FormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPostServletApex</display-name>
    <servlet-name>MyPostServletApex</servlet-name>
    <servlet-class>com.apex.servlets.MyPostServletApex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPostServletApex</servlet-name>
    <url-pattern>/MyPostServletApex</url-pattern>
  </servlet-mapping>
</web-app>